* { margin: 0; padding: 0; }
.container { width: 100%; min-width: 1024px; color: #343434; font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 1.5; font-weight: 300; }

.landrow {width: 100%; }
.landblock { width: 1024px; margin: 0 auto; }
.landblock .center, .landrow .center { display: block; text-align: center; width: 100%; }
.landblock .hr, .landrow .hr { margin: 0 auto; border-bottom: #e6e3e3 1px solid; margin: 0 -60px;}
.landblock .title, .landrow .title { font-size: 50px; margin-bottom: 40px; display: inline-block; }
.off { display: none; }

/* Navigation */
.nav { background-color: #343434; color: #d2d2d2; position: fixed; height: 30; line-height: 30px; font-size: 16px; }
.nav a { padding: 0 15px; font-weight:400; text-decoration: none; color: inherit; }
.nav a:first-child { padding-left: 0; }
.nav a:last-child { padding-right: 0; }
.nav-spacer { height: 30px; }

/* Header */
.header { background-color: #f5f5f5; }
.header .logo { font-size: 54px; display: inline-block; }
.header .logo span {font-weight: 500;}
.header .desc { font-size: 14px; display: inline-block; margin-left: 20px; color: #707070; }

/* Jumbotron */
.jumbotron { background-image: url(../images/blurred-background-1.jpg); }
.products-block { padding: 40px 0 0 0; box-sizing: border-box; }
.products-block h3 { font-size: 28px; margin: 0; padding: 0; }
.products-block h4 { font-size: 20px; font-weight: 400; margin: 0 0 8px 0; padding: 0; }
.products-block p { font-size: 16px; font-weight: 300;  margin: 0 0 8px 0; }
.products-block sup { font-size: 16px; font-weight: 300; }
.products-block:after { content: " "; display: block; height: 0; clear: both;}
.products-block .left, .products-block .right { display: block; width: 50%; height: 200px; padding: 20px 30px; float: left; box-sizing: border-box; }
.products-block .left  { background-color: rgba(245, 245, 245, 1.0); margin: 0; text-align: center;  }
.products-block .right { background-color: rgba(245, 245, 245, 0.5);  margin: 0; }
.fuga .left .logo {  height: 100%; }
.fuga .left .logo img { margin-top: 30px; }
.jumbotron .controls { text-align: center;  height: 40px; padding-top: 10px; }
.jumbotron .controls i { display: inline-block; padding: 10px 8px; font-size: 10px; color: white; cursor: pointer; }


/* What are we do */
.wawd { padding: 20px 0;  }
.wawd .boxes { margin: 0 auto; text-align: center; }
.wawd .box { width: 180px; margin: 15px; padding: 15px; display: inline-block; font-size: 40px; }
.wawd .box i { font-size: 50px; border-radius: 50%; padding: 20px; background-color: #f2f6ff; margin-bottom: 20px; }

/* How we do it */
.hwdi { padding: 20px 0; background-color: #f2f6ff; }
.hwdi .boxes { margin: 0 auto; width: 512px;}
.hwdi .box { width: 100%; margin-bottom: 20px; font-size: 24px; display: block; text-align: left; }
.hwdi .box:after { content: " "; display: block; height: 0; clear: both;}
.hwdi .box .text { margin-left: 120px; display: block; float: none; }
.hwdi .box i { float: left; font-size: 70px; background-color: white; border-radius: 50%; padding: 20px; width: 70px; height: 70px; }

/* What technologies we use */
.wtwe { padding: 20px 0;  background-color: #f2f6ff; }
.wtwe .boxes { margin: 0 auto; text-align: center; }
.wtwe .box { text-align: left; display: inline-block; font-size: 30px; padding-right: 40px; margin-bottom: 40px; }
.wtwe .box i, .wtwe .box img { font-size: 40px; margin-right: 10px; width: 40px; height: 40px; }
.wtwe .amm { font-size: 30px; }

/* Behind the scenes */
.bts { padding: 20px 0; }
.bts .boxes { margin: 0 auto; text-align: center; }
.bts .box { text-align: left; display: inline-block; font-size: 30px; margin-right: 30px; margin-bottom: 40px; }
.bts .box .name {display: inline-block; vertical-align: top; }
.bts .box img { width: 80px; height: 80px; margin-right: 10px; display: inline-block; border-radius: 50%; }
.bts .box span { font-size: 16px; display: block; }

.footer { background-color: #343434; color: #f6f6f6; font-weight:400; }
.footer-block { padding: 15px 0;  }
.footer-block:after { content: " "; display: block; height: 0; clear: both; }
.footer-block .column { float: left; width: 33.3333%;  }
.footer-block .logo { font-size: 28px; font-weight: 300; }
.footer-block .logo span { font-weight: 500; }

.footer-block .social .fa {font-size: 28px; }
.footer-block .contact h3 {margin-bottom: 10px; }
.footer-block .contact p { display: block; margin-bottom: 10px; border: #f6f6f6 1px solid; border-radius: 5px; padding-left: 5px; }
.footer-block .contact a { text-decoration: none; color: inherit; }
